<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wudagezhandui.shixun.xianyu.dao.IdleCommentMapper">
    <sql id="Base_Column_List">
        id, user_id, idle_id, content, comments, create_time, update_time
    </sql>

    <insert id="saveIdleComment" parameterType="com.wudagezhandui.shixun.xianyu.pojo.do0.IdleCommentDO"
            useGeneratedKeys="true" keyProperty="id">
        insert into idle_comment
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                user_id,
            </if>
            <if test="idleId != null" >
                idle_id,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="comments != null" >
                comments
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="idleId != null" >
                #{idleId},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="comments != null" >
                #{comments}
            </if>
        </trim>
    </insert>

    <select id="getIdleComment" parameterType="integer" resultType="com.wudagezhandui.shixun.xianyu.pojo.do0.IdleCommentDO">
        select
        <include refid="Base_Column_List"/>
        from idle_comment
        where id = #{id}
    </select>

    <select id="listIdleComments" parameterType="com.wudagezhandui.shixun.xianyu.pojo.query.IdleCommentQuery"
            resultType="com.wudagezhandui.shixun.xianyu.pojo.do0.IdleCommentDO">
        select
        <include refid="Base_Column_List"/>
        from idle_comment
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="idleId != null">
                and user_id = #{idleId}
            </if>
            <if test="idList != null">
                and id in (
                    <foreach collection="idList"  item="item" index="index" separator=",">
                        #{item}
                    </foreach>
                )
            </if>
        </where>
        order by update_time desc
    </select>

    <update id="increaseComments" parameterType="com.wudagezhandui.shixun.xianyu.pojo.do0.IdleCommentDO">
        update idle_comment
        <set>
            <if test="comments != null">
                comments = #{comments},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>






